extends layout
block css
  link(rel='stylesheet', href='./style/main.css')
block content
  #loading
  .ui.container
    .ui.steps#steps
      .active.step
        i.download.icon
        .content
          .title 載入檔案
          .description 載入data.xml
      .disabled.step
        i.edit.icon
        .content
          .title 更改內容
      .disabled.step
        i.info.icon
        .content
          .title 確認修改
      .disabled.step
        i.checkmark.icon
        .content
          .title 完　　成

    .ui.negative.icon.message(style='display: none;')
      i.warning.sign.icon
      i.close.icon
      .header 請選擇data.xml

    .openfile.ui.button 選擇資料
      input#file_selector(type='file', onchange='file_viewer.load();')

    .ui.grid#edit_list
      .four.wide.column
        .ui.secondary.vertical.pointing.menu
          a.item.active(value='1')#alumnus
            | 傑出校友
          a.item(value='2')#campus
            | 校園環境
          a.item(value='3')#history
            | 大事紀要
          a.item(value='4')#industry
            | 產學合作
          a.item(value='5')#principal
            | 歷代校長
      .twelve.wide.column
        .ui.segment#context
          table.ui.celled.table
            h3 1919
            thead
              tr
                th 日期
                th 標題
                th 圖片連結
                th 內文
                th 編輯
            tbody
              //- tr
              //-   td 1919/04/18
              //-   td 臺灣總督府農林專門學校成立
              //-   td data/history/19190418.jpg
              //-   td 大正八年（1919）四月十八日，臺灣總督府飭令成立「臺灣總督府農林專門學校」。
              //-   td
                  i.edit.icon
      .ui.modal#edit-alumnus
        i.close.icon
        .header
          | 編輯內容(傑出校友)
        .content
          .description
            .ui.form
              .field
                label 姓名
                input(type='text', name='name')
                label 內容
                input(type='text', name='title')
                label 圖片連結
                input(type='text', name='url')
        .actions
          .ui.button Submit
      .ui.modal#edit-campus
        i.close.icon
        .header
          | 編輯內容(校園環境)
        .content
          .description
            .ui.form
              .field
                label 標題
                input(type='text', name='name')
                label 圖片連結
                input(type='text', name='url')
        .actions
          .ui.button Submit
      .ui.modal#edit-history
        i.close.icon
        .header
          | 編輯內容(大事紀要)
        .content
          .description
            .ui.form
              .field
                label 日期
                input(type='text', name='name')
                label 標題
                input(type='text', name='name')
                label 圖片連結
                input(type='text', name='url')
                label 內文
                input(type='text', name='title')
        .actions
          .ui.button Submit
      .ui.modal#edit-industry
        i.close.icon
        .header
          | 編輯內容(產學合作)
        .content
          .description
            .ui.form
              .field
                label 年度
                input(type='text', name='year')
                label 獎項
                input(type='text', name='name')
                label 系所
                input(type='text', name='dep')
                label 得獎人
                input(type='text', name='award')
        .actions
          .ui.button Submit
      .ui.modal#edit-principal
        i.close.icon
        .header
          | 編輯內容(歷代校長)
        .content
          .description
            .ui.form
              .field
                label 標題
                input(type='text', name='title')
                label 姓名
                input(type='text', name='name')
                label 圖片連結
                input(type='text', name='url')
                label 內容
                input(type='text', name='text')
        .actions
          .ui.button Submit

      //- 新增項目
      .ui.modal#add-alumnus
        i.close.icon
        .header
          | 新增內容(傑出校友)
        .content
          .description
            .ui.form
              .field
                label 項目
                input(type='text', name='item')
                label 姓名
                input(type='text', name='name')
                label 內容
                input(type='text', name='title')
                label 圖片連結
                input(type='text', name='url')
        .actions
          .ui.button Submit
      .ui.modal#add-campus
        i.close.icon
        .header
          | 新增內容(校園環境)
        .content
          .description
            .ui.form
              .field
                label 項目
                input(type='text', name='item')
                label 標題
                input(type='text', name='name')
                label 圖片連結
                input(type='text', name='url')
        .actions
          .ui.button Submit
      .ui.modal#add-history
        i.close.icon
        .header
          | 新增內容(大事紀要)
        .content
          .description
            .ui.form
              .field
                label 項目
                input(type='text', name='item')
                label 日期
                input(type='text', name='name')
                label 標題
                input(type='text', name='name')
                label 圖片連結
                input(type='text', name='url')
                label 內文
                input(type='text', name='title')
        .actions
          .ui.button Submit
      .ui.modal#add-industry
        i.close.icon
        .header
          | 新增內容(產學合作)
        .content
          .description
            .ui.form
              .field
                label 項目
                input(type='text', name='item')
                label 年度
                input(type='text', name='year')
                label 獎項
                input(type='text', name='name')
                label 系所
                input(type='text', name='dep')
                label 得獎人
                input(type='text', name='award')
        .actions
          .ui.button Submit
      .ui.modal#add-principal
        i.close.icon
        .header
          | 新增內容(歷代校長)
        .content
          .description
            .ui.form
              .field
                label 項目
                input(type='text', name='item')
                label 標題
                input(type='text', name='title')
                label 姓名
                input(type='text', name='name')
                label 圖片KKO連結
                input(type='text', name='url')
                label 內容
                input(type='text', name='text')
        .actions
          .ui.button Submit

block js
  script(src='./js/file.js')
